/* You can add global styles to this file, and also import other style files */
body{
  margin:0;
  padding: 0;
  min-width:315px;
  background-image: url(./assets/image/body.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color:white;
}

.title_principal
{
  margin-bottom: 1px;
}
.contenu{
  width:80%;
  display: flex;
  justify-content: center;
}

.titre_date{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contenu_general{
  display: flex;
  flex-direction: column;
}

.titre_date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.div_vide{
  width:50%;
}
.input{
  width:50%;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
#general{
  margin:auto;
  color:white;
  width:80%;
}

.barre_de_recherche{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
