<div id="general">
  <div class="title_principal">
    <h1>POST</h1>
  </div>
  <div class="contenu">
  <div class="contenu_general">
    <br>
    <br>
    <br>
    <br>
    <app-post [postName] = "postName[0].title"></app-post><br>
    <app-post [postName] = "postName[1].title"></app-post><br>
    <app-post [postName] = "postName[2].title"></app-post>
  </div>
  </div>
</div>
