<div class="contenu-1 container col-md-12 col-xs-12">
  <div class="titre_date row">
    <h1>{{ postName }}</h1>
    <p>Posté le {{date | date:'fullDate'}}</p>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer congue leo in augue euismod, a fringilla augue interdum. Etiam eu posuere velit. Cras placerat nisi ac nisi laoreet, vel tincidunt leo eleifend. Proin iaculis ornare justo eget ultricies. Nullam at magna iaculis, commodo neque a, tincidunt est. Sed gravida id ante pellentesque tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus interdum diam enim, sed mattis odio egestas vel. Proin eget sapien mauris. Sed vehicula enim vel leo aliquet convallis. Proin sollicitudin, odio sed mollis tempus, est est molestie urna, nec tincidunt leo purus vitae purus. Maecenas bibendum gravida urna ac imperdiet.
  </p>
  <div class="boutton">
    <div class="input col-xs-12">
      <button disabled style = 'background-color:black;'>{{ y }} LIKES</button> <input type="button" value = "{{ like }}" (click)="love($event)" class='btn btn-success'>
      <br>
      <button disabled style = 'background-color:black;'>{{ x }} DISLIKES</button><input type="button" value= "{{ dislike }}" (click)="dont_love($event)" class="btn btn-danger">
    </div>
    </div>
</div>
